Repository AllanMangeni/stacks-blockchain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers, @stacks-network/blockchain-team-signer, @stacks-network/blockchain-team-ci

chore: unify analize_smart_contract and analize_smart_contract_with_deadline
  clarity/src/vm/clarity.rs
  stackslib/src/chainstate/nakamoto/mod.rs
  stackslib/src/chainstate/stacks/boot/contract_tests.rs
  stackslib/src/chainstate/stacks/db/transactions.rs
  stackslib/src/clarity_vm/clarity.rs
  stackslib/src/clarity_vm/tests/analysis_costs.rs
  stackslib/src/clarity_vm/tests/contracts.rs
  stackslib/src/clarity_vm/tests/costs.rs
  stackslib/src/clarity_vm/tests/large_contract.rs
  stackslib/src/util_lib/signed_structured_data.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

feat: add max_analysis_time as miner config
  stacks-node/src/tests/signer/v0/failed_txs.rs
  stackslib/src/chainstate/nakamoto/miner.rs
  stackslib/src/chainstate/stacks/db/mod.rs
  stackslib/src/chainstate/stacks/db/transactions.rs
  stackslib/src/chainstate/stacks/miner.rs
  stackslib/src/chainstate/tests/mod.rs
  stackslib/src/clarity_vm/clarity.rs
  stackslib/src/config/mod.rs
  stackslib/src/net/api/postblock_proposal.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

feat: add block_proposal_max_tx_analysis_time_secs config option
  stacks-node/src/tests/signer/v0/failed_txs.rs
  stackslib/src/config/mod.rs
  stackslib/src/net/api/postblock_proposal.rs
  stackslib/src/net/connection.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

chore: improve max_execution_time_secs docstring
  stackslib/src/config/mod.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

crc: fix copy_epoch2_block_files docs
  stackslib/src/chainstate/stacks/db/snapshot/blocks.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

chore: revert and drop CostErrors::AnalysisTimeExpired and use directly StaticCheckErrorKind::AnalysisTimeExpired
  clarity/src/vm/analysis/errors.rs
  clarity/src/vm/analysis/mod.rs
  clarity/src/vm/analysis/tests/mod.rs
  clarity/src/vm/analysis/type_checker/v2_1/mod.rs
  clarity/src/vm/analysis/type_checker/v2_1/tests/contracts.rs
  clarity/src/vm/ast/errors.rs
  clarity/src/vm/clarity.rs
  clarity/src/vm/contexts.rs
  clarity/src/vm/costs/errors.rs
  clarity/src/vm/costs/mod.rs
  clarity/src/vm/mod.rs
  clarity/src/vm/time_tracker.rs
  clarity/src/vm/tooling/mod.rs
  contrib/clarity-cli/src/lib.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

bump toolchain to 1.96.0 and fix new clippy warnings
  clarity/src/vm/ast/parser/v2/lexer/mod.rs
  clarity/src/vm/docs/contracts.rs
  clarity/src/vm/tests/datamaps.rs
  contrib/stacks-inspect/src/main.rs
  rust-toolchain.toml
  stacks-codec/src/transaction.rs
  stacks-common/src/types/mod.rs
  stacks-node/src/tests/signer/multiversion.rs
  stacks-node/src/tests/stackerdb.rs
  stacks-signer/src/client/stacks_client.rs
  stackslib/src/net/http/response.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers, @stacks-network/blockchain-team-signer

add changelog.d entry
  changelog.d/7348-rust-toolchain-1.96.0.changed
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

update nix overlay to 1.96.0.nix
  contrib/nix/flake.lock
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

chore: use TimeTracker::unlimited() instead of NoTracking variant. Improve docs
  clarity/src/vm/analysis/mod.rs
  clarity/src/vm/analysis/tests/mod.rs
  clarity/src/vm/analysis/type_checker/v2_1/mod.rs
  clarity/src/vm/analysis/type_checker/v2_1/tests/contracts.rs
  clarity/src/vm/contexts.rs
  clarity/src/vm/time_tracker.rs
  clarity/src/vm/tooling/mod.rs
  contrib/clarity-cli/src/lib.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

test: add postblock_proposal test for max analysis time
  stackslib/src/net/api/tests/mod.rs
  stackslib/src/net/api/tests/postblock_proposal.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

chore: improve integration tests
  stacks-node/src/tests/signer/v0/failed_txs.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

chore: add changelog entry
  changelog.d/contract-analysis-max-time.added
  stackslib/src/chainstate/stacks/db/transactions.rs
  stackslib/src/chainstate/stacks/miner.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

chore: improve docs
  clarity/src/vm/analysis/errors.rs
  clarity/src/vm/clarity.rs
  stackslib/src/chainstate/nakamoto/miner.rs
  stackslib/src/chainstate/stacks/mod.rs
  stackslib/src/net/api/postblock_proposal.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

crc: group tests symbols BurnchainDB into a scope
  stackslib/src/burnchains/db.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

crc: address nits remarks
  clarity/src/vm/analysis/tests/mod.rs
  stacks-node/src/tests/signer/v0/failed_txs.rs
  stackslib/src/chainstate/tests/static_analysis_tests.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

crc: remove old known_burnchain_tables
  stackslib/src/chainstate/stacks/db/snapshot/burnchain.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

chore: fix clippy stacks-profiler
  stacks-profiler/src/platform.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

crc: move const CANONICAL_BURN_HASHES_SQL at the start
  stackslib/src/chainstate/stacks/db/snapshot/burnchain.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

remove stale references to overrides table
  stackslib/src/chainstate/stacks/db/snapshot/burnchain.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

crc: make get_*snapshot_burn_header_hash pub
  stackslib/src/chainstate/burn/db/sortdb.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

ci: decouple test jobs from public-only `check-release`
  .github/workflows/_ci.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

various nits
  stackslib/src/burnchains/bitcoin/spv.rs
  stackslib/src/chainstate/stacks/db/snapshot/tests/spv.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

fix merge issues
  stackslib/src/chainstate/stacks/db/snapshot/tests/index.rs
  stackslib/src/chainstate/stacks/db/snapshot/tests/mod.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

load_wanted_tenures_at_tip: fix off-by-one in "can skip" check
  changelog.d/7354-load-wanted-tenures-skip.fixed
  stackslib/src/net/download/nakamoto/download_state_machine.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

fix comment typos
  stackslib/src/net/download/nakamoto/download_state_machine.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

chore: rearrange comments
  .github/workflows/_ci.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

move the "can skip" check into the function itself
  stackslib/src/net/download/nakamoto/download_state_machine.rs
  stackslib/src/net/tests/download/nakamoto.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

... also remove the other check
  stackslib/src/net/download/nakamoto/download_state_machine.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

change import source
  stackslib/src/net/download/nakamoto/download_state_machine.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

feat: cover type checker clarity2_* recoursive functions with time tracking
  clarity/src/vm/analysis/type_checker/v2_1/mod.rs
  clarity/src/vm/analysis/type_checker/v2_1/tests/mod.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

feat: cover ReadOnlyChecker and TraitChecker with time tracking
  clarity/src/vm/analysis/mod.rs
  clarity/src/vm/analysis/read_only_checker/mod.rs
  clarity/src/vm/analysis/trait_checker/mod.rs
  clarity/src/vm/analysis/type_checker/v2_1/mod.rs
  clarity/src/vm/analysis/types.rs
  clarity/src/vm/time_tracker.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

feat: validate header version in static checks
  stackslib/src/chainstate/nakamoto/mod.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

chore: fix clippy
  clarity/src/vm/analysis/type_checker/v2_1/mod.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

chore: add changelog
  changelog.d/enforce-header-version.changed
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

test: new malleablization strategy
  stackslib/src/chainstate/nakamoto/tests/node.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

add marf-squash crate
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  contrib/marf-squash/Cargo.toml
  contrib/marf-squash/README.md
  contrib/marf-squash/src/checksums.rs
  contrib/marf-squash/src/cli.rs
  contrib/marf-squash/src/commands.rs
  contrib/marf-squash/src/config.rs
  contrib/marf-squash/src/db.rs
  contrib/marf-squash/src/layout.rs
  contrib/marf-squash/src/main.rs
  contrib/marf-squash/src/manifest.rs
  contrib/marf-squash/src/ops.rs
  contrib/marf-squash/src/targets.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

fix: make stackerdb push bandwidth and chunk-size limits configurable
  changelog.d/stackerdb-bandwith-config.changed
  stacks-common/src/util/macros.rs
  stackslib/src/chainstate/nakamoto/mod.rs
  stackslib/src/chainstate/nakamoto/tests/mod.rs
  stackslib/src/config/mod.rs
  stackslib/src/net/connection.rs
  stackslib/src/net/stackerdb/db.rs
  stackslib/src/net/stackerdb/mod.rs
  stackslib/src/net/stackerdb/tests/db.rs
  stackslib/src/net/stackerdb/tests/sync.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

remove is_in_prepare_phase
  contrib/marf-squash/src/commands.rs
  contrib/marf-squash/src/db.rs
  contrib/marf-squash/src/ops.rs
  contrib/marf-squash/src/targets.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

gss->pcs. add missing copyrights
  contrib/marf-squash/README.md
  contrib/marf-squash/src/checksums.rs
  contrib/marf-squash/src/cli.rs
  contrib/marf-squash/src/commands.rs
  contrib/marf-squash/src/config.rs
  contrib/marf-squash/src/db.rs
  contrib/marf-squash/src/layout.rs
  contrib/marf-squash/src/main.rs
  contrib/marf-squash/src/manifest.rs
  contrib/marf-squash/src/ops.rs
  contrib/marf-squash/src/targets.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#
# require both blockchain-team-codeowners and blockchain-team-reviewers to review all PR's not specifically matched below
* @stacks-network/blockchain-team-codeowners @stacks-network/blockchain-team-reviewers


# Signer code
# require both blockchain-team-codeowners and blockchain-team-signer to review PR's for the signer folder(s)
libsigner/**/*.rs @stacks-network/blockchain-team-codeowners @stacks-network/blockchain-team-signer
stacks-signer/**/*.rs @stacks-network/blockchain-team-codeowners @stacks-network/blockchain-team-signer

# CI workflows
#  require both blockchain-team-ci and blockchain-team-reviewers teams to review PR's modifying CI workflows
/.github/workflows/ @stacks-network/blockchain-team-ci @stacks-network/blockchain-team-reviewers
/.github/actions/ @stacks-network/blockchain-team-ci @stacks-network/blockchain-team-reviewers
