Repository AllanMangeni/stacks-blockchain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers, @stacks-network/blockchain-team-signer, @stacks-network/blockchain-team-ci

Added type to all required properties for workflows
  .github/actions/artifacts/nextest-archive/action.yml
  .github/workflows/tests-bitcoin-rpc.yml
  .github/workflows/tests-bitcoin.yml
  .github/workflows/tests-epoch.yml
  .github/workflows/tests-p2p.yml
  .github/workflows/tests-stacks-core.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Reference create nextest archive as action instead of workflow
  .github/workflows/_ci.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Fixed error in setup-test-caches.yml
  .github/workflows/setup-test-caches.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

One more bug fix
  .github/workflows/_ci.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Fixed bug
  .github/workflows/_ci.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Renamed job step to be more accurate
  .github/workflows/_ci.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Make cache check fail when missing for CI runs
  .github/actions/artifacts/nextest-archive/action.yml
  .github/workflows/_ci.yml
  .github/workflows/_seed-caches.yml
  .github/workflows/setup-test-caches.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Pathing fun
  .github/actions/artifacts/nextest-archive/action.yml
  .github/workflows/_ci.yml
  .github/workflows/tests-proptest-extra.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Smarter artifact globbing
  .github/actions/artifacts/nextest-archive/action.yml
  .github/scripts/bitcoin_tests.sh
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers, @stacks-network/blockchain-team-codeowners

Exclude .so files from artifact GLOB
  .github/actions/artifacts/nextest-archive/action.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Finishing touches, we're ready
  .github/actions/artifacts/nextest-archive/action.yml
  .github/workflows/_seed-caches.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Create rolling cache of latest bitcoin and cargo files whenever there's a push to master OR once daily at midnight UTC
  .github/actions/cache/bitcoin/action.yml
  .github/actions/cache/cargo/action.yml
  .github/actions/cache/generate-keys/action.yml
  .github/workflows/_ci.yml
  .github/workflows/_seed-caches.yml
  .github/workflows/setup-test-caches.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Copilot review fixes, especially to test-proptest-extra.yml
  .github/workflows/_ci.yml
  .github/workflows/setup-test-caches.yml
  .github/workflows/tests-proptest-extra.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Update Check Nix action to use community standard packages that don't flood our GH cache and are actually faster
  .github/workflows/_check-nix.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

More Copilot feedback fixes
  .github/actions/artifacts/nextest-archive/action.yml
  .github/workflows/tests-proptest-extra.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Diusable npm caching for Stacks Core Tests
  .github/workflows/tests-stacks-core.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Merge develop .github folder work into master for new CI workflow
  .github/actions/artifacts/nextest-archive/action.yml
  .github/actions/cache/bitcoin/action.yml
  .github/actions/cache/cargo/action.yml
  .github/actions/cache/generate-keys/action.yml
  .github/actions/cache/test-archive/action.yml
  .github/actions/run-tests/action.yml
  .github/scripts/bitcoin_tests.sh
  .github/workflows/_check-nix.yml
  .github/workflows/_ci.yml
  .github/workflows/_seed-caches.yml
  .github/workflows/check-cargo-hack.yml
  .github/workflows/scheduled-docker-image.yml
  .github/workflows/setup-test-caches.yml
  .github/workflows/tests-bitcoin-rpc.yml
  .github/workflows/tests-bitcoin.yml
  .github/workflows/tests-epoch.yml
  .github/workflows/tests-p2p.yml
  .github/workflows/tests-proptest-extra.yml
  .github/workflows/tests-proptest-nightly.yml
  .github/workflows/tests-stacks-core.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers, @stacks-network/blockchain-team-codeowners

drop signer chunks whose payload type does not match contract lane
  changelog.d/signer-chunk-lane-validation.fixed
  libsigner/src/events.rs
  libsigner/src/tests/mod.rs
  libsigner/src/v0/messages.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers, @stacks-network/blockchain-team-signer

cargo fmt
  libsigner/src/events.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-signer

chore: release prep for 3.4.0.0.4
  clarity/src/vm/analysis/errors.rs
  clarity/src/vm/analysis/read_only_checker/mod.rs
  clarity/src/vm/analysis/type_checker/v2_1/mod.rs
  stackslib/src/chainstate/tests/static_analysis_tests.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

chore: versions and changelog
  CHANGELOG.md
  changelog.d/6905-stacks-profiler.added
  changelog.d/7163-reject-high-s-signature-tx.fixed
  changelog.d/7200-move-stacks-transaction-to-codec.changed
  changelog.d/7348-rust-toolchain-1.96.0.changed
  changelog.d/7354-load-wanted-tenures-skip.fixed
  changelog.d/7366-default-config.fixed
  changelog.d/7372-get-bandwidth-underflow.fixed
  changelog.d/arithmetic-checker.added
  changelog.d/block_replay_execution_stats.added
  changelog.d/contract-analysis-max-time.added
  changelog.d/drop-unused-p2p-msg.changed
  changelog.d/enforce-header-version.changed
  changelog.d/marf-snapshot-blocks.added
  changelog.d/marf-snapshot-burnchain.added
  changelog.d/marf-snapshot-clarity.added
  changelog.d/marf-snapshot-framework.added
  changelog.d/marf-snapshot-sortition.added
  changelog.d/marf-snapshot-spv.added
  changelog.d/marf-squash-boot-from-pruned.added
  changelog.d/marf-squash-cli.added
  changelog.d/marf-squash-engine.added
  changelog.d/marf-squash-io-prefetch.changed
  changelog.d/microblock-downloader-cleanup.fixed
  changelog.d/read-only-call-mem-abort.fixed
  changelog.d/reduce_tenure_extend_timings.added
  changelog.d/reject-pox-assetmap-overwrite.fixed
  changelog.d/signer-chunk-lane-validation.fixed
  changelog.d/sortdb-detect-external-blobs.fixed
  changelog.d/sqlite-open-no-mutex.changed
  changelog.d/stackerdb-bandwith-config.changed
  changelog.d/stacks-codec-tests.added
  changelog.d/test-flake-tenure-extend.fixed
  stacks-signer/CHANGELOG.md
  stacks-signer/changelog.d/7163-reject-high-s-signature-tx.fixed
  versions.toml
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

Updated lock threads GitHub action to use official stale action, has been failing in recent runs
  .github/workflows/_docker-image.yml
  .github/workflows/_lock-threads.yml
  .github/workflows/scheduled-lock-threads.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Updated per Copilot comments
  .github/workflows/_lock-closed-threads.yml
  .github/workflows/_lock-threads.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Remove unused import to make Cargo Hack / WASM Targets check happy
  stacks-common/src/util/secp256k1/wasm.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

Revert "Remove unused import to make Cargo Hack / WASM Targets check happy"
  stacks-common/src/util/secp256k1/wasm.rs
Owners: @stacks-network/blockchain-team-codeowners, @stacks-network/blockchain-team-reviewers

Restore Cargo Hack Check to version from before balpha's develop changes, since merge from develop of .github folder last week added new changes in that break this workflow
  .github/workflows/check-cargo-hack.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

Fixed typo in closed Discussion comment
  .github/workflows/_lock-closed-threads.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

don't restrict CI cache seeding to the main repo
  .github/workflows/_seed-caches.yml
Owners: @stacks-network/blockchain-team-ci, @stacks-network/blockchain-team-reviewers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#
# require both blockchain-team-codeowners and blockchain-team-reviewers to review all PR's not specifically matched below
* @stacks-network/blockchain-team-codeowners @stacks-network/blockchain-team-reviewers


# Signer code
# require both blockchain-team-codeowners and blockchain-team-signer to review PR's for the signer folder(s)
libsigner/**/*.rs @stacks-network/blockchain-team-codeowners @stacks-network/blockchain-team-signer
stacks-signer/**/*.rs @stacks-network/blockchain-team-codeowners @stacks-network/blockchain-team-signer

# CI workflows
#  require both blockchain-team-ci and blockchain-team-reviewers teams to review PR's modifying CI workflows
/.github/workflows/ @stacks-network/blockchain-team-ci @stacks-network/blockchain-team-reviewers
/.github/actions/ @stacks-network/blockchain-team-ci @stacks-network/blockchain-team-reviewers
